@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i');
body {
    font-family: "Montserrat";
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../img/background/section-1(header).jpg");
    background-size: cover;
    background-attachment: fixed;
}

.top {
    width: 100%;
    height: 120px;
    background: rgba(87, 85, 77, 0.6);
}

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
}

.hexagon {
    position: relative;
    width: 60px;
    height: 34.64px;
    background-color: #1fd8b3;
    margin: 17.32px 0;
}

.hexagon:before,
.hexagon:after {
    content: " ";
    position: absolute;
    width: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 17.32px solid #1fd8b3;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 17.32px solid #1fd8b3;
}

.logo-first {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    width: 56px;
    height: 36px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-second {
    padding-left: 15px;
    color: #fff;
    font-size: 32px;
}

.logo-second .span {
    font-weight: bold;
}

.span {
    color: #1fd8b3;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 650px;
}

.nav-item {
    display: flex;
    align-self: stretch;
    align-items: center;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    color: #d4d4d4;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item i {
    font-size: 22px;
}

.nav-item.active::after {
    content: "";
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    background-color: #1fd8b3;
    height: 2px;
    margin: 0 auto 0;
}

.nav-item:hover {
    color: #1fd8b3;
    bottom: -2px;
    text-decoration: none;
    border-bottom: 3px solid #1fd8b3;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    line-height: 20px;
}

.header-content-heading-first {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.header-content-heading-second {
    color: #fff;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 30px;
}

.header-content-heading-third {
    color: #d4d4d4;
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 100px;
}

.btn {
    position: relative;
    width: 165px;
    height: 60px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.button-explore {
    transform-style: preserve-3d;
    background-color: #1fd8b3;
}

.button-explore:hover {
    background-color: #e08e41;
}

.button-explore::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    background-color: #fff;
    width: 165px;
    height: 60px;
    border: none;
    border-radius: 4px;
    transform: translateZ(-1px);
}

.button-purchase {
    transform-style: preserve-3d;
    margin-left: 30px;
    background-color: #00cbf6;
}

.button-purchase:hover {
    background-color: #e08e41;
}

.button-purchase::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    background-color: #fff;
    width: 165px;
    height: 60px;
    border: none;
    border-radius: 4px;
    transform: translateZ(-1px);
}

.sections {
    display: flex;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 7px solid;
    width: 25%;
    height: 375px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.section:nth-child(odd) {
    color: #1fd8b3;
    background-color: #1c2a33;
    border-color: #1fd8b3;
}

.section:nth-child(even) {
    color: #fff;
    background-color: #1fd8b3;
    border-color: #fff;
}

.section p {
    height: 40%;
}

.section .section-image {
    display: flex;
    align-items: center;
    height: 65%;
}

.our-services {
    padding: 80px 0 100px;
    padding-top: 110px;
}

.tabs {
    transform: translateY(-15%);
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.tab-contents {
    display: flex;
    background-color: #F5F9FB;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    font-weight: 400;
    text-align: center;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.slide:after {
    left: 50%;
}

.tab-contents li:hover {
    color: #fff;
    background-color: #1fd8b3;
    border: none;
}

.tab-contents li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-color: #EBEDED;
    position: relative;
    height: 75px;
    width: 17%;
    cursor: pointer;
}

.tab-contents li.active {
    color: #fff;
    background-color: #1fd8b3;
    border: #1fd8b3 1px solid;
}

.tab-contents li.active:after {
    content: "";
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -11px;
    width: 23px;
    height: 13px;
    margin: 0 auto 0;
    border: none;
    background-image: url("../img/arrow.png");
}

.tab-content {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    margin-top: 25px;
    border-top: none;
    width: 950px;
    height: 142px;
    line-height: 24px;
    text-align: left;
    padding: 6px 12px;
    margin-bottom: 20px;
    display: none;
}

.tab-content.active {
    display: flex;
    color: inherit;
}

.tab-image {
    width: 195px;
    margin-right: 20px;
    border: gray 1px solid;
    align-self: flex-start;
}

.tab-content p {
    text-align: justify;
    font-size: 16px;
    padding-top: 10px;
}

.title-section::before,
.title-section::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1fd8b3;
    width: 76px;
    height: 1px;
    border: none;
    margin: 0 auto 0;
}

.title-section::before {
    bottom: -37px;
}

.title-section::after {
    left: 12px;
    bottom: -41px;
}

.section-title {
    position: relative;
    font-size: 36px;
    line-height: 40px;
    color: #4e4e4e;
    font-weight: 400;
    text-align: center;
}

.ready {
    padding: 125px 0 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/background/section-2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.title {
    color: #1fd8b3;
    font-size: 33px;
    font-weight: 400;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.description {
    color: #d8d8d8;
    font-size: 16px;
    margin-bottom: 80px;
}

.our-work-section {
    background-color: rgb(240, 242, 243);
    padding: 97px 0 100px;
}

.our-works {
    padding-top: 100px;
}

.photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.photos .captions {
    display: flex;
    background-color: #fff;
    height: 58px;
}

.photos .captions li {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #EBEDED;
    position: relative;
    padding: 0 20px;
    cursor: pointer;
}

.photos .captions li:hover {
    color: #18cfab;
}

.photos .captions li.active:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    right: 0;
    height: 2px;
    background-color: #18cfab;
    margin: 0 auto 0;
}

.photos .content {
    display: flex;
    flex-wrap: wrap;
    margin: 70px 0;
}

.photos .content .hov {
    position: relative;
}

.photos .content .hov:hover .info {
    display: flex;
}

.photos .content .hov .info {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.photos .content .hov .info::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #18cfab;
    height: 2px;
    margin: 0 auto 0;
}

.photos .content .hov .info .info-btn-hov {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 120px;
}

.photos .content .hov .info .info-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #18cfab;
    border: #18cfab 1px solid;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.photos .content .hov .info .info-btn:hover {
    color: #fff;
    background-color: #18cfab;
}

.photos .content .hov .info .title {
    color: #18cfab;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
    text-transform: uppercase;
}

.photos .content .hov .info .caption {
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
}

.load {
    transform-style: preserve-3d;
    background-color: #1fd8b3;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #18cfab 1px solid;
    cursor: pointer;
}

.load:hover {
    background-color: #e08e41;
}

.load::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    background-color: #fff;
    width: 165px;
    height: 60px;
    border: none;
    border-radius: 4px;
    transform: translateZ(-1px);
}

.footer {
    font-weight: 300;
    background-color: #2c4350;
    padding: 47px 0 47px;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    color: #aeaeae;
}